* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(rgb(209, 218, 236), rgb(37, 124, 224));
  width: 100vw;
  height: 100vh;
}
.forms {height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
